/*-------- Common Styles/Utilities --------*/

body {
    font-family: 'Poppins';
    background-color: #AAAAAA;
    width: 100%;
}

.whole {
    width: 95%;
    height: auto;
    position: relative;
    left: 2.5%;
    background-color: white;
    padding-bottom: 20%;
}

.webmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.influence {
    margin-top: 3%;
    margin-left: 8%;
}

.genuin-menu {
    position: relative;
    top: 20px;
    right: 8%;
}

.genuin-menu a {
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
    margin-left: 12px;
}

.fa-magnifying-glass {
    position: relative;
    top: 3.5px;
}

.fa-cart-plus {

    position: relative;
    top: 7px;
}


/* apattoto lagbe na*/
.mobilemenu {
    display: flex;
    justify-content: space-between;
    display: none;
}

.fa-cart-plus,
.fa-bars {
    font-size: 27px;
}

/* apattoto lagbe na*/

/* --------start-cam block styles-------- */

.start-cam {
    display: flex;
    padding: 3px 8%;
}

.start,
.camera {
    width: 50%;
}

.start h1 {
    font-size: 52px;
}

.lorem16 {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    bottom: 10%;
    color: lightslategray;
}

.start button {
    border: 1px solid #E02C6D;
    border-radius: 15px;
    padding: 8px;
    position: relative;
    bottom: 40px;
    color: #FFFFFF;
    background-color: #E02C6D;
}

.fa-arrow-right-long {
    position: relative;
    top: 2px;
    right: 3px;
}

.camera img {
    width: 440px;
    height: 414px;
    margin-left: 19%;
    margin-top: 4%;
}

/* ---------Logo-section block style --------*/

.Logo-section {

    position: relative;
    left: 9%;
    margin-top: 2.8%;

}

.logo {
    display: flex;
    padding: 20px;
    width: 80%;
    border-top: 0.1px solid grey;
    border-bottom: 0.2px solid grey;
}

.four-img-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


.three-img-block {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.alibaba,
.amazon,
.daraz,
.ebay,
.rakuten,
.walmart,
.target {
    margin-left: 40px;
    height: 30px;
}

.populer-collection {
    background-color: #FFFFFF;
}

.populer-collection h2 {
    text-align: center;
    font-size: 28px;
}

/*---------- Populer collection style---------- */

.populer-collection {
    margin-top: 6%;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    row-gap: 26px;
    column-gap: 22px;
    position: relative;
    left: 11%;
}

.collection {
    box-shadow: 3px 3px 3px grey;
    border: 1px solid white;
    border-radius: 10px;
    width: 303px;
    height: 398px;
    padding: 6px;

}

.collection img {
    display: flex;
    align-items: center;
    width: 300px;
    height: 256px;
}

.collection h3 {
    margin-top: 3px;
}

.collection p {
    position: relative;
    bottom: 15px;
}

.ratings {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 14%;
}

.fa-star,
.fa-star-half-stroke {
    font-size: 13px;
    color: orange;
}

.ratings p {
    margin-left: 3%;
    margin-top: 46px;
    color: gray;
    font-size: 12px;
}

.collection h5 {
    position: relative;
    bottom: 25%;
    color: grey;
    font-size: 11px;
}

.collection h6 {
    font-size: 14px;
    color: #E02C6D;
    position: relative;
    bottom: 25%;
    left: 72%;
}

.collection h6 .fa-arrow-right-long {
    margin-left: 3%;
}